asttokens==2.2.1
async-generator==1.10
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
cargo==0.3
certifi==2023.5.7
contourpy==1.0.7
cssselect2==0.7.0
cycler==0.11.0
decorator==5.1.1
defusedxml==0.7.1
diff-match-patch==20230430
dill==0.3.6
easyplotly==0.1.3
enforce==0.3.4
exceptiongroup==1.1.1
executing==1.2.0
fastjsonschema==2.16.3
fonttools==4.39.4
freetype-py==2.3.0
fuzzingbook==1.1
graphviz==0.20.1
h11==0.14.0
idna==3.4
ipython==8.13.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyterlab-pygments==0.2.2
kiwisolver==1.4.4
lxml==4.9.2
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mistune==2.0.5
multiprocess==0.70.14
nbclient==0.7.4
nbconvert==7.4.0
nbformat==5.8.0
networkx==3.1
notedown==1.5.1
numpy==1.26.1
outcome==1.2.0
packaging==23.1
pandas==2.0.1
pandoc-attributes==0.1.7
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.5.1
plotly==5.14.1
prompt-toolkit==3.0.38
ptyprocess==0.7.0
pure-eval==0.2.2
pyan @ git+https://github.com/uds-se/pyan@7fa04c82a89625e3dac1616d899faec311c1ad1c
pycairo==1.23.0
pydot==1.4.2
Pygments==2.15.1
pyparsing==2.4.7
pyrsistent==0.19.3
PySocks==1.7.1
python-dateutil==2.8.2
python-magic==0.4.27
pytz==2023.3
pyzmq==25.1.1
reportlab==4.0.0
rlPyCairo==0.2.0
scikit-learn==1.2.2
scipy==1.11.3
selenium==4.9.1
showast==0.2.4
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
stack-data==0.6.2
svglib==1.5.1
tenacity==8.2.2
threadpoolctl==3.1.0
tinycss2==1.2.1
tomli==2.0.1
tornado==6.3.1
traitlets==5.9.0
trio==0.22.0
trio-websocket==0.10.2
types-Markdown==3.4.2.9
tzdata==2023.3
urllib3==2.0.2
wcwidth==0.2.6
webencodings==0.5.1
wrapt==1.15.0
wsproto==1.2.0
yapf==0.33.0
z3-solver==4.12.2.0
